body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #223;
    background-image: url('http://source.unsplash.com/1600x900/?landscape');
    font-family: "Open sans", sans-serif;
}

.card {
    background: #eaeaea;
    padding: 5em;
    border-radius: 30px;
    margin: 2em;
    width: 100%;
    max-width: 420px;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;

}

input.search-bar{
    border-radius: 24px;
    border: none;
    outline: none
    width: calc(100% - 100px);
    padding: 0.8em 1em;
}

/* .input{
    border-radius: 24px;
} */

button {
    margin: 0.5em;
    border-radius: 50%;
    border:  none;
    height: 2.5em;
    width: 2.5em;
    outline: none

}

button:hover{
    background: #7c7c7c;
    cursor: pointer;
}

h1.temp {
    margin: 0px;
}

h2.city {
    margin-block-end: 5%;
    margin-block-start: 2%;
}





